/* Coolors Exported Palette - coolors.co/0b2027-f06449-cfd7c7-5c6784-ede6e3 */

/* HSL */
$color1: hsla(195%, 56%, 10%, 1);
$color2: hsla(10%, 85%, 61%, 1);
$color3: hsla(90%, 17%, 81%, 1);
$color4: hsla(224%, 18%, 44%, 1);
$color5: hsla(18%, 22%, 91%, 1);

/* RGB */
$color1: rgba(11, 32, 39, 1);
$color2: rgba(240, 100, 73, 1);
$color3: rgba(207, 215, 199, 1);
$color4: rgba(92, 103, 132, 1);
$color5: rgba(237, 230, 227, 1);