.form-popup {
    display: none;
}

.form-popup h1, 
.form-popup label {
    color: #332a86;
    text-align: center
}
.btn{
    color: white;
}
.form-field{
    padding: 1em;
    text-align: center;
}