header {
    background-color:$color1; 
    padding: 1% 0% 2% 0%
}
header .intro{
    color: $color3;
    float: left;
    margin: 10% 30% 10% 10%;
    font-size: x-large;
    -webkit-text-stroke: 1px ;
    -webkit-text-stroke-color: $color1;
}