.hero-img{
    background-size: cover;
    background-color:  $color1;
    background-image: url("../img/JMC-Chow Lan Lake.jpg");
    background-position: right 0% bottom 26%;
    height: 70vh; 
    background-repeat: no-repeat;
}