.feedback {
    height: 10vh;
    text-align: center;
    background-color: rgba(92, 103, 132, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback a{
    text-decoration: None;
    Color:white;
}