@import "_palette.scss";

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}
body{
    background-color: $color1;
}
a {
    text-decoration: none;
}